@font-face {
  font-family: "getSchwifty";
  src: url("font/rick_and_morty_font_by_starriichan_d9h2vl6.ttf");
}

* {
  font-family: "getSchwifty";
  font-size: 1.5rem;
}

.highlight {
  border-bottom: solid 2px black;
}