/* General */
:root {
  /* Colours */
  --randm-brown: #44281d;
  --randm-flesh: #e4a788;
  --randm-yellow: #f0e14a;
  --randm-green: #97ce4c;
  --randm-pink: #e89ac7;

  --font-colour: #202329;
  --font-colour-alt: #9e9e9e;

  --dark-background: #181a1f;
}

::selection {
  background-color: var(--randm-brown);
  color: var(--randm-yellow);
}

@font-face {
  font-family: "getSchwifty";
  src: url("font/rick_and_morty_font_by_starriichan_d9h2vl6.ttf");
}

* {
  font-family: 'Oxygen', sans-serif;
}

h1,
footer p,
footer a {
  font-family: "getSchwifty";
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url(randm.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Heading */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 9rem;
  color: var(--font-colour);
}

/* Number of matches */
p.count-results {
  font-size: 1.25rem;
  color: var(--font-colour);
  margin-bottom: 5rem;
}

/* Return list */
input {
  font-size: 2rem;
  width: 60vw;
  padding: 1rem;
  color: var(--font-colour);
  background-color: transparent;
}

input {
  border: solid 2px var(--dark-background);
  border-radius: 10px;
}

input:focus {
  outline: none;
}

li.result {
  list-style: none;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 2rem;
  background-color: #2e2f34;
  color: #fff;
  border-radius: 10px;
}

li.result:nth-child(odd) {
  margin-left: 8%;  
  margin-right: 2%;
}

li.result:nth-child(even) {
  margin-left: 2%;
  margin-right: 8%;
}

li:hover {
  cursor: pointer;
}

ul.results-returned {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--dark-background);
  justify-content: start;
  margin: 0;
  min-width: 100vw;
  padding-left: 0;
}

.group-items-left {
  display: flex;
  align-items: center;
}

.character-name {
  margin-left: 1rem;
}

/* No result */
li.no-result {
  justify-content: start;
}

.list-image {
  width: 200px;
  border-radius: 10px 0 0 10px;
}

.highlight {
  background-color: var(--randm-green);
}

/* footer */
footer p,
footer a {
  font-size: 1.25rem;
  color: var(--font-colour-alt);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-background);
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* modal */
.modal-display-character {
  display: none;
  background: violet;
  position: fixed;
  z-index: 1; 
  left: 20%;
  top: 20%;
  width: 60%; 
  height: 60%; 
  overflow: auto; 
}

p.modal-close:hover {
  cursor: pointer;
}

.inner-modal-display-character {
  display: flex;
}